.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 300px;
}

.output {
  font-weight: 400;
  font-size: 18px;
  color: #ccc;
}

.display {
  background-color: #333;
  color: white;
  padding: 10px;
  font-size: 20px;
  min-height: 40px;
  line-height: 30px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  padding: 20px;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.5s;
}

button:hover {
  background-color: #ececec;
  font-weight: 700;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  flex: content;
}

.action__button {
  flex: 1 0 0;
  background-color: chocolate;
  font-weight: 900;
  color: gainsboro;
}

.action__button:hover {
  background-color: rgb(214, 86, 0);
}